<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnTheMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE204F9A1DF6E05400D855BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE204FAE1DF6E05500D855BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE204FB91DF6E05500D855BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB8274C1E0293BD00880D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB827541E0293BD00880D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB8276F1E0294AD00880D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB827771E0294AD00880D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
